header {
    display: flex;
    flex-direction: column;

    position: sticky;
    top: 0;
    z-index: 100;
}

.about-super-market {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 242, 250);
    padding: 10px 40px;
    height:35px;
}
.left-side{
    display: flex;
    gap: 15px;
    align-items: center;
}
.left-side h3 {
    color: rgb(182, 182, 182);
    font-size: 0.8rem;
    font-weight: 550;
}

.out-circle {
    width: 35px;
    height: 20px;
    border-radius: 25px;
    border:1px solid #27c;
    padding: 2.3px;
}
.circle {
    background-color: #27c;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}
.move {
    background-color: rgb(99, 157, 214);
    transform: translateX(15px);
}

.right-side ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
.right-side ul li a {
    color: gray;
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 0.5s ease;
}
.right-side ul li a:hover {
    color: #27c;
}
nav {
    height: 86px;
    box-shadow: 0 10px 20px rgb(230, 230, 230);
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.logo img {
    height: 56px;
    width: 130px;
}
.search-inp-nav {
    display: flex;
    align-items: center;
    gap: 30px;
}
.menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}
.menu-bar i {
    transform: scale(2.1 , 1.4);
    color: #27c;
    margin-bottom: 6px;
}
.menu-bar p {
    font-size: 0.7rem;
}
.about-search input{
    width: 850px;
    height: 40px;
    padding: 0 120px 0 20px;
    border: 1px solid rgb(183, 183, 183);
    border-radius:20px;
    transition: all 0.2s ease;
    outline-color: rgb(183, 183, 183);
}
.about-search input:hover {
    border-color: #27c;
    outline-color: #27c;
}
.about-search i {
    color: #27c;
    transform: translateX(-75px);
}
.log-nav {
    display: flex;
    align-items: center;
    gap: 65px;
}


.logo-nav-login-favorite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.logo-nav-login-favorite i {
    transform: scale(1.7);
    color: #27c;
    margin-bottom: 10px;
}
.logo-nav-login-favorite p {
    font-size: 0.7rem;
}

/* MAIIIIIIIIIIIIIIIIIIIIIIIIIIIN */
main {
    padding: 10px 35px;
    display: flex;
    flex-direction: column;
}
.first-section-image {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
    height: 400px;
}
.img70{
    width: 70%;
}
.img70 img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.img30{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.img30 img {
    width: 100%;
    height: 50%;
    cursor: pointer;
}
.carts-in-section{
    margin-top: 40px;
}
.all-carts {
    display: flex;
    justify-content: space-between;
}
.cart {
    text-align: center;
    width: 140px;
    height: 220px;
    border-radius: 50%;
}
.cart p {
    margin: 10px;
    width: 100%;
    font-size: 0.9rem;
}
.cart img {
    border-radius: 50%;
    width: 100%;
    mix-blend-mode:hard-light;
    padding: 10px;
    height: 140px;
    transition: all 0.2s ease;
}
.cart img:hover {
    transform: scale(1.1);
    cursor: pointer;
}



.first-sec {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.first-sec-left{
    width: 50%;
    height: 330px;
    display: flex;
    gap: 10px;
}
.flower {
    width: 50%;
    height: 100%;
    transition: all 0.2s ease;
}
.flower:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.both-img{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.both-img img{
    width: 100%;
    height: 50%;
    transition: all 0.2s ease;
}
.both-img img:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.first-sec-right{
    width: 50%;
    height: 330px;
}
.first-sec-right img {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
}
.first-sec-right img:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.all-images {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 29px;
    flex-wrap: wrap;
    justify-content: center;
}
.all-images a img {
    width: 340px;
    height: 180px;
    transition: all 0.2s ease;
}
.all-images a img:hover {
    transform: scale(1.02);
}
.shoping {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    justify-content: center;
}
.cart-shop{
    position: relative;
    width: 270px;
    height: 375px;
    padding: 10px;
    border: 1px solid rgb(221, 221, 221);
    text-align: center;
}
.cart-shop:hover {
    border-color: #27c;
}
.cart-shop img {
    width: auto;
    height: 60%;
    cursor: pointer;
}
.cart-shop h3 {
    font-weight: 100;
    margin-top: 10px;
    font-size: 0.9rem;
    padding-left: 5px;
}
.buyandprice {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.buyandprice button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #27c;
    border: none;
    font-size: 1.3rem;
}
.buyandprice button:hover {
    cursor: pointer;
    background-color: rgb(22, 77, 132);
}
.text-p {
    margin-top: 30px;
    text-decoration: line-through;
    font-weight: 100;
    font-size: 0.9rem;
    padding-left: 5px;
}
.lastPrice {
    padding: 5px;
    color: red;
    font-weight: 600;
    font-size: 1.2rem;
}
.about-price {
    color: rgb(182, 182, 182);
    font-size: 0.8rem;
    margin-top: 10px;
}
.cart-shop span {
    display: block;
    width: 50px;
    height: 24px;
    background-color: red;
    border-radius: 40px;
    line-height: 25px;
    color: white;
    font-size: 0.7rem;
    position: absolute;
    top: 20px;
    left:20px;
}
.section-image-sas {
    margin-top: 40px;
    width: 100%;
    display: flex;
    gap: 20px;
}
.image-sas-left{
    width: 50%;
}
.image-sas-right{
    width: 50%;
}
.image-sas-left img , .image-sas-right img {
    margin-top: 20px;
    width: 100%;
    transition: all 0.2s ease;
}
.image-sas-left img:hover , .image-sas-right img:hover {
    transform: scale(1.02);
    cursor: pointer;
} 
.img-moz {
    transform: scale(0.6)translateX(-30px);
}
.img-sib {
    transform: scale(0.6)translateX(-80px);
}